// $primary: #8e6851;
// $white : #fff;
// $light-grey : #5f6769;
// $grey : #313738;
// $dark-grey : #1a1f23;
// $blue-grey : #343d45;
$primary: rgb(80, 64, 171);
$white : #252424;
$light-grey : #5f6769;
$grey : #eee9f6;
$dark-grey : #cecad4;
$blue-grey : #343d45;
$blue: #125376;
$error: #c53e3e;
$purple: rgb(80, 64, 171);

$skill-red: #ab3232;



$icon-width: 2rem;
$header-height: 5rem;
$gap-xs: .2rem;
$gap-s: .5rem;
$gap-m: 1rem;
$gap-l: 1.5rem;
$radius-s: 5px;
$radius-m: 10px;
$radius-l: 20px;

$font-s: 0.8rem;
$font-m: 1rem;
$font-l: 1.5rem;
